/venv*
/.venv
/build
/dump
/dist
/gramaddict.egg-info
/.idea
/.vscode
*/*.yml
*/*.json
*.pyc
.DS_Store
crashes
accounts
!config-examples/*
Pipfile
Pipfile.lock
*.pdf
*.mp4
*.log*
*.ini
*.db
/accounts
run.py
run_bot.sh
run_bot_no_scrape.sh
simple_bot.py